<header>
    <!-- tidy up the position of nav -->
    
    <nav>
        <div id="col1">MyFace</div>

        <ul class="nav-bar" id="col2">
            <!-- <li></li> -->
            <!-- <li>MyFace</li> -->
            <!-- <li></li> -->
            <li>Home</li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
            <!-- <li></li> -->
            <!-- <li id="new-post">+ New Post</li> -->
            <!-- <li></li> -->
        </ul>

        <div id="col3">+ New Post</div>
        </nav>
</header>