<head>
    <title>MyFace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--This is the icon library-->
    <script src="https://kit.fontawesome.com/0ecb37a768.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/app.css">
</head>