<header>


    <nav class="normal-nav" id="normal">
        <div id="col1">MyFace</div>

        <ul class="nav-bar" id="col2">
            <li>Home</li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
        </ul>

        <div id="col3">+ New Post</div>

    </nav>

    <nav class="mobile-nav" id="mobile">
        <button id="escape-button"><i class="fa-solid fa-xmark"></i></button>
        <div id="1">MyFace</div>

        <ul class="nav-bar" id="2">
            <li>Home</li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
        </ul>

        <div id="3">+ New Post</div>
    </nav>
    <button id="menu"><i class="fa-solid fa-bars"></i></button>    

</header>