<header>


    <nav class="normal-nav">
        <div id="col1">MyFace</div>

        <ul class="nav-bar" id="col2">
            <li>Home</li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
        </ul>

        <div id="col3">+ New Post</div>

    </nav>

    <nav class="mobile-nav">
        <div id="1">MyFace</div>

        <ul class="nav-bar" id="2">
            <li>Home</li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/users">Users</a></li>
        </ul>

        <div id="3">+ New Post</div>
    </nav>
    <button id="menu">Menu</button>    

</header>