/* Add your styles here. */
@media only screen and (max-width:420px) {
    /*For mobile*/
    *{  
        width:90%;
        padding:0px;
    }

    h1{
        position:relative;
        text-align: center;
    }

    body ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:30px;
        
    }

    body ul li div {
        float:left;
        width:100%;
    }

    .post-msg{
        display:inline-block;
    }
}

*{
    font-family: open 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 0px;
    padding:0px;
    background-color: #252A38;
    width: 100%;
    color:white;
}

/* Nav bar */
nav{
    display:flex;
    align-items: center;
    border-bottom: 4px solid black;
    background: #151820;
    position:fixed;
    top:0;
    z-index:999;
    
    width:100%;
    background:#151820;
  }


  /* This can fix the nav bar position */
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav-bar li{
    padding:10px;
    list-style-type: none;
}

/* This can fix the nav bar position */
#col1,#col2,#col3{
    text-align: center;
    background-color: #151820;
}

a{
    text-decoration: none;
    background:#151820;
} 

/* Posts */
body{
    padding-top: 50px;
}

ul.post-list {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:25px;
    margin: 20px auto;
    max-width: 90%;
}

ul.post-list li{
    list-style-type: none;
    width:100%;
    background:#151820;
    position:relative;
    max-height: 600px;
    box-sizing:border-box;
}

.post-content{
    background:#151820;
}

.post-msg{
    background:transparent;
    padding-left: 10px;
    
}

 .post-img{
    display: block;
}  


/* buttons */

body ul li div.button {
    width: 40%;
    display: flex;
    gap: 5px;
    background:#151820;
    padding:5px;
}

#like-button,#dislike-button {
    color:white;
    border-radius: 20px;
    cursor: pointer;
    background:#252A38;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 2px black;
    border: 1px solid gray;
    /* add a gap between the
}

.post-date {
    font-size: smaller;
    background: #151820;
    font-weight: lighter;
    color: rgb(201, 199, 199);
    padding-left: 10px;
    
    box-sizing:border-box;
    /* take a deep look at this property later; */
}


form{
    background:#151820;
}

 /* we need to centralise the icon within the button; */
.fa-regular.fa-thumbs-up, .fa-regular.fa-thumbs-down{
    background:transparent;
}


/* user-profile */
#user-post-list,#user-likes-list,#user-dislikes-list {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:25px;
    margin: 20px auto;
    max-width: 90%;
}
